.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  height: 280px;
  padding: 16px;
  border-radius: 10px;
  background: #f7d99c;
}

.list {
  list-style-type: none;
}

.list > li:not(:last-child) {
  margin-bottom: 6px;
}

.empty {
  font-size: 14px;
  font-style: italic;
  color: #8f8f8f;
}

.sortedItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
